@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-container {
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 16px 16px 8px;
  line-height: 24px;
  font-size: 14px;
  @apply mt-4 mb-2;
}
.custom-container>p{
  @apply my-[0.75em];
}

.custom-container.info {
  color: rgba(60, 60, 67);
  background-color: rgba(142, 150, 170, .14);
}

.custom-container.tip {
  color: rgba(60, 60, 67);
  background-color: rgba(100, 108, 255, .14);
}

.custom-container.warning {
  color: rgba(60, 60, 67);
  background-color: rgba(234, 179, 8, .14);
}

.custom-container.error {
  color: rgba(60, 60, 67);
  background-color: rgba(244, 63, 94, .14);
}

.custom-container-title{
  font-size: 16px;
  font-weight: bolder;
  @apply my-0 !important;
}
