@tailwind base;
@tailwind components;
@tailwind utilities;

/* 引入代码字体 */
@font-face {
  font-family: 'CaskaydiaCoveNerdFontMono';
  src: url('/fonts/CaskaydiaCoveNerdFontMono-Regular.woff2');
}

html,
body,
article {
  scroll-behavior: smooth;
}

body {
  font-variant-numeric: tabular-nums;
  font-family: 'CaskaydiaCoveNerdFontMono', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  ;
}

a {
  @apply underline-offset-[6px];
}

a:hover {
  color: #8b5cf6;
}

/* 自定义容器 */

.custom-container {
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 16px 16px 8px;
  line-height: 24px;
  font-size: 16px;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.custom-container>p {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.custom-container.info {
  color: rgba(60, 60, 67);
  background-color: rgba(142, 150, 170);
}

.dark .custom-container.info {
  color: #ffffff;
  background-color: rgba(142, 150, 170);
  filter: brightness(0.6);
}

.custom-container.tip {
  color: rgb(40 40 40);
  background-color: rgb(126 132 255);
}

.dark .custom-container.tip {
  color: #ffffff;
  background-color: rgb(100 108 255);
  filter: brightness(0.6);
}

.custom-container.warning {
  color: rgb(40 40 40);
  background-color: rgb(249 232 100);
}

.dark .custom-container.warning {
  color: #ffffff;
  background-color: rgba(234, 179, 8);
  filter: brightness(0.6);
}

.custom-container.error {
  color: rgba(60, 60, 67);
  background-color: rgb(237 79 79);
}

.dark .custom-container.error {
  color: #ffffff;
  background-color: rgba(244, 63, 94);
  filter: brightness(0.6);
}

.custom-container-title {
  font-size: 16px;
  font-weight: bolder;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

details {
  border-radius: 8px;
  padding: 16px;
  line-height: 24px;
  font-size: 16px;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  @apply shadow-[0_0px_6px_-1px_rgb(0,0,0,0.1)] border-gray-600/80 dark:text-gray-300/80 border-2 border-solid;
}

details>summary {
  position: relative;
  margin: -1.5rem;
  padding-block: 1.5rem;
  padding-inline: 4rem 1.5rem;
  list-style: none;
  cursor: pointer;
  font-weight: bolder;
}

details>summary>p {
  margin: 0 auto !important;
}

details>summary::marker {
  content: '';
  color: transparent;
  font-size: 0;
}

details>summary::before {
  content: " ";
  position: absolute;
  top: calc(50% - .75rem);
  inset-inline-start: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  transition: background .3s ease, transform .3s ease;
  @apply bg-gray-400;
}

.dark details>summary::before {
  @apply bg-gray-600;
}

details>summary::after {
  content: " ";
  position: absolute;
  top: calc(50% - .75rem);
  inset-inline-start: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  line-height: normal;
  transform: rotate(90deg);
  transition: transform .3s ease;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(75 85 99)' viewBox='0 0 24 24'%3E%3Cpath d='M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z'/%3E%3C/svg%3E");
}

.dark details>summary::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(156 163 175)' viewBox='0 0 24 24'%3E%3Cpath d='M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z'/%3E%3C/svg%3E");
}

.details-content {
  margin-top: 20px;
  border-top: 1px solid rgb(0 0 0 / 30%);
}

.dark .details-content {
  border-top: 1px solid rgb(255 255 255 / 30%);
  margin-top: 20px;
}

/* 优化数学公式显示 */
.MathJax>svg {
  display: inline;
}

/* markdown高亮样式修改 */
mark {
  background-color: transparent;
  color: #D6192C;
}

/* 图片样式优化 */
p>img {
  @apply shadow-lg rounded-lg hover:shadow-xl transition-all dark:brightness-[.6];
}

/* 行内代码块优化 */
li>code,
p>code {
  padding: .25rem .5rem;
  margin: 0;
  font-size: .9em;
  color: #7c3aed !important;
  background-color: #ebeaeacc;
  border-radius: 4px;
}

/* 引用块优化 */
blockquote>p::before {
  content: open-quote;
  margin-right: 5px;
}

blockquote>p::after {
  content: close-quote;
  margin-left: 5px;
}

/* 文章背景 */
article {
  backdrop-filter: blur(1px);
}

.dark article {
  background-color: rgba(45, 45, 45, .1);
  backdrop-filter: blur(1px);
}

/* 隐藏文章页的抽屉目录滚动条 */
.ant-drawer-body::-webkit-scrollbar {
  display: none;
}

.ant-drawer-body {
  -ms-overflow-style: none;
}

/* Antd 树形菜单选中样式优化 */
.ant-tree.ant-tree-directory .ant-tree-treenode-selected::before,
.ant-tree.ant-tree-directory .ant-tree-treenode:hover:before {
  border-radius: 4px !important;
  margin-left: -10px !important;
}

.ant-tree-treenode .ant-tree-treenode-switcher-close {
  height: 42px !important;
}