@tailwind base;
@tailwind components;
@tailwind utilities;

/* 引入代码字体 */
@font-face {
  font-family: 'CaskaydiaCoveNerdFontMono';
  src: url('/fonts/CaskaydiaCoveNerdFontMono-Regular.woff2');
}

body {
  font-variant-numeric: tabular-nums;
  font-family: 'CaskaydiaCoveNerdFontMono', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  ;
}

/* 自定义容器 */

.custom-container {
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 16px 16px 8px;
  line-height: 24px;
  font-size: 14px;
  @apply mt-4 mb-2;
}

.custom-container>p {
  @apply my-[0.75em];
}

.custom-container.info {
  color: rgba(60, 60, 67);
  background-color: rgba(142, 150, 170, .24);
}

.custom-container.tip {
  color: rgba(60, 60, 67);
  background-color: rgba(100, 108, 255, .24);
}

.custom-container.warning {
  color: rgba(60, 60, 67);
  background-color: rgba(234, 179, 8, .24);
}

.custom-container.error {
  color: rgba(60, 60, 67);
  background-color: rgba(244, 63, 94, .24);
}

.custom-container-title {
  font-size: 16px;
  font-weight: bolder;
  @apply my-0 !important;
}

/* 优化数学公式显示 */
.MathJax>svg {
  display: inline;
}

/* markdown高亮样式修改 */
mark {
  background-color: transparent;
  color: #D6192C;
}

/* 图片样式优化 */
p>img {
  @apply shadow-lg rounded-lg hover:shadow-xl transition-all;
}